
body {
	margin:0;
	padding:0;
	margin-right:20px;
	font-family: 'Krona One', sans-serif;
	background-color: black;
	-webkit-animation:body ease-in 1;  
	 -moz-animation:body ease-in 1;
	 animation:body ease-in 1;
	animation-name: body;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
@keyframes body { from { opacity:0; } to { opacity:1; } 
			0% {
			transform: translateX(40px);
		}
		100% {
			transform: translateX(0);
		}
}

#outside-container { max-width:800px;
margin:auto;}

.sound {
	font-size:13px;
	display:inline-block;
	width:100px;
	height:100px;
	text-align: center;
	border:5px solid white;
	line-height: 100px;
	
}




.sound:hover {
	background-color: rgba(255,255,255,1);
	color:black;
}
#main-container {
	max-width:800px;
	margin:auto;
	background:black;
	color:white;
	border:5px solid black;
	margin-right:20px;

}
p {
	font-size: 14px;
	text-align: center;
}
div h1 { 
	text-align: center;
	margin:auto;
	background-position: center;
	background-size: contain;
	padding:20px;
	background:  linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url('');
	background-repeat: no-repeat;
color:white;
height:200px;
width:300px;

border:5px solid black;}


#left-screen {
	width:400px;
	height:30%;
/*	background-position: center;
	background-repeat: repeat-y;*/
	background-size:fixed;
	margin-left:25px;
	background-repeat: no-repeat;
	background-position: center;
	background-image:url('http://media0.giphy.com/media/uVeRAiG1E30SA/giphy.gif');
}
@media only screen and (max-width:640px) {
	body {
		margin:0;
		padding:0;
	}
	#outside-container { width:100%;
	margin:0;}
	#main-container { width:100%;
	margin:0;float:none;}
	#left-screen { width:100%;
	margin:auto;float:right; height: 40%;}
	 div.main-container h1 {
		display:none;
	}
	p {
		clear:both;
		display: block;}
	.sound {
		width:50px;
		height:50px;
		font-size: 10px;
		line-height: 25px;
	}

}
